@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Mohave:ital,wght@1,300&family=Open+Sans:wght@400;600&display=swap');

html {
    box-sizing: border-box;
    background: #ffc600;
    font-size: 20px;
    font-weight: 100;
}

body {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
        font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.panel1 {
    background-image: url(https://images.unsplash.com/photo-1637551983397-21e40b131f8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=60);
}

.panel2 {
    background-image: url(https://images.unsplash.com/photo-1637515205503-4ea3db0ec39f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOXx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=60);
}

.panel3 {
    background-image: url(https://images.unsplash.com/photo-1637578285103-cbc6a258507a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzOHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=60);
}

.panel4 {
    background-image: url(https://images.unsplash.com/photo-1637484581501-05bc3d6725be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMTh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=60);
}

.panel5 {
    background-image: url(https://images.unsplash.com/photo-1637478847587-1740c47f65dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMzN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=60);
}

/* Flex Children */
.panel>* {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel>*:first-child {
    transform: translateY(-100%)
}
.panel.open-active>*:first-child {
    transform: translateY(0)
}
.panel>*:last-child {
    transform: translateY(100%)
}
.panel.open-active>*:last-child {
    transform: translateY(0)
}

.panel p {
    text-transform: uppercase;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Mohave', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}

.panel p:nth-child(2) {
    font-size: 4em;
}

.panel.open {
    font-size: 40px;
    flex: 5;
}